<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <link rel="stylesheet" th:href="@{/css/application.css}"/>
</head>

<body>
<div th:fragment="clusterData" id="results-block">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="t-mid">#</th>
            <th class="t-mid">CLUSTER</th>
            <th class="t-mid">TYPE</th>
            <th class="t-mid">GENE #</th>
            <th class="t-mid">CDS LENGTH</th>
            <th class="t-mid" th:if="${refSpecies == 'undefined'}">CODING GC</th>
            <th class="t-mid" th:if="${refSpecies != 'undefined'}">&Delta; GC REF<br/>SPECIES</th>
            <th class="t-mid" th:if="${refSpecies == 'undefined'}">CODON USAGE<br/>TABLE</th>
            <th class="t-mid" th:if="${refSpecies != 'undefined'}">CODON USAGE<br/>HEAT MAP</th>
            <th class="t-mid">&Delta; TO KC</th>
            <th class="t-mid">SELF-H<br/>SCORE</th>
            <th class="t-mid">DIVERSITY<br/>SCORE</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${not #lists.isEmpty(clusterData)}" th:each="cluster, iterStat : ${clusterData}"
            th:style="${cluster.ttaCluster} ? 'background: #ffecef;' : ''">
            <th th:text="${iterStat.count}"></th>
            <td th:inline="text">
                <a th:href="@{|/local/${wsName}/${cluster.parent}/index.html#cluster-${cluster.number}|}"
                   th:title="${cluster.species}" target="_blank">[[${cluster.origin}]] - C[[${cluster.number}]]</a>
            </td>
            <td th:text="${cluster.clusterType}"></td>
            <td th:text="${cluster.numberOfGenes}"></td>
            <td th:inline="text">[[${cluster.cdsLength}]] bp</td>
            <td th:if="${refSpecies != 'undefined'}" th:inline="text">[[${#numbers.formatDecimal(cluster.gcContentS, 1, 2)}]]%</td>
            <td th:if="${refSpecies == 'undefined'}" th:inline="text">[[${#numbers.formatDecimal(cluster.gcContent, 1, 2)}]]%</td>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a th:if="${refSpecies == 'undefined'}" th:href="@{|/codonTable/${cluster.name}|}" target="_blank">Open</a>
                <a th:if="${refSpecies != 'undefined'}" th:href="@{|/codonUsageMap/${cluster.name}/${refSpecies}|}"
                   target="_blank" th:inline="text">[[${#numbers.formatDecimal(cluster.codonBiasS, 1, 2)}]]</a>
            </td>
            <td th:inline="text">[[${#numbers.formatDecimal(cluster.kcScore, 1, 2)}]]%</td>
            <td th:if="${cluster.selfHomologyMaximumScore != -1}" th:text="${cluster.selfHomologyMaximumScore}"></td>
            <td th:if="${cluster.selfHomologyMaximumScore == -1}" th:inline="text">N/A</td>
            <td th:if="${cluster.diversityScore == -1}" th:inline="text">N/A</td>
            <td th:if="${cluster.diversityScore != -1}" th:inline="text">
                <a th:href="@{|/local/${wsName}/lifeTreeOutput/${cluster.origin}.cluster${cluster.number}.xml|}" target="_blank">[[${cluster.diversityScore}]]</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>