<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

<link rel="stylesheet" th:href="@{/css/application.css}" />

</head>

<body>
	<div th:fragment="clusterData" id="results-block">
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="t-mid">#</th>
					<th class="t-mid">CLUSTER</th>
					<th class="t-mid">GENE NUMBER</th>
					<th class="t-mid">CDS LENGTH</th>
					<th class="t-mid" th:if="${clusterData[0].gcContentDiff != -1}">
						&Delta; GC REF
						<br />
						SPECIES
					</th>
					<th class="t-mid" th:if="${clusterData[0].gcContentDiff == -1}">CODING GC</th>
					<th class="t-mid">CODON USAGE</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cluster, iterStat : ${clusterData}">
					<th th:text="${iterStat.count}"></th>
					<td th:inline="text">
						<a th:href="@{|/local/index.html#cluster-${cluster.clusterNumber}|}" target="_blank">[[${cluster.recordName}]] - Cluster
							[[${cluster.clusterNumber}]]</a>
					</td>
					<td th:text="${cluster.numberOfGenes}"></td>
					<td th:inline="text">[[${cluster.basePairs}]] bp</td>
					<td th:if="${cluster.gcContentDiff != -1}" th:inline="text">[[${#numbers.formatDecimal(cluster.gcContentDiff, 1, 2)}]]%</td>
					<td th:if="${cluster.gcContentDiff == -1}" th:inline="text">[[${#numbers.formatDecimal(cluster.gcContent, 1, 2)}]]%</td>
					<td>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a th:href="@{|/codonTable/${cluster.clusterNumber}|}" target="_blank">Open</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>