/**
 * Sets the text field border to red
 */
.error-field {
	border: 1px solid #FF0000;
}

/**
 * Hides the object
 */

.hidden {
	display: none;
}

/**
 * Styles for the drag and drop section
 * from the index view.
 */
 
.upload-drop-zone {
	height: 200px;
	border-width: 2px;
	margin-bottom: 20px;
}

.upload-drop-zone {
	color: #ccc;
	border-style: dashed;
	border-color: #ccc;
	line-height: 200px;
	text-align: center
}

.upload-drop-zone.hover {
	color: #222;
	border-color: #222;
}

.upload-drop-zone.drop {
	color: #222;
	border-color: #222;
}

/**
 * Size of the tooltips
 */

.tooltip-inner {
	max-width: 300px !important;
}

/**
 * Button sizes definition
 */

.btn-sq-lg {
	width: 400px !important;
	height: 400px !important;
}

.btn-sq {
	width: 100px !important;
	height: 100px !important;
	font-size: 10px;
}

.btn-sq-sm {
	width: 50px !important;
	height: 50px !important;
	font-size: 10px;
}

.btn-sq-xs {
	width: 25px !important;
	height: 25px !important;
	padding: 2px;
}

/**
 * Div properties definitions
 */

.div-ctr {
	text-align: center !important;
}

.div-right {
    text-align: right !important;
}

.div-ctr-sized {
	text-align: center !important;
	width: 700px;
	margin: auto;
}

.div-left {
	text-align: left !important;
}

.div-border {
	border-radius: 25px;
	border: 2px solid #C0C0C0;
	padding: 20px;
}

/**
 * Text alignments
 */

.t-ctr {
	text-align: center !important;
}

.t-mid {
	vertical-align: middle !important;
}

/**
 * Slider properties
 */

.sld {
	width: 120px !important;
	margin: auto;
}

.sld-lg {
	width: 150px !important;
	margin: auto;
}

/**
 * Spinner animation definition
 */

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}