<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title th:inline="text">[[#{app.name}]] :: Codon Table</title>

<link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link rel="stylesheet" th:href="@{/css/application.css}" />
<link rel="icon" th:href="@{/images/oops.ico}" />

<script th:src="@{/webjars/jquery/2.1.3/jquery.min.js}"></script>
<script th:src="@{/js/jquery.ui.widget.js}"></script>
<script th:src="@{/js/jquery.iframe-transport.js}"></script>
<script th:src="@{/js/jquery.fileupload.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</head>

<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<h3 align="center">Codon Usage Table</h3>
		<div class="panel panel-default">
			<div class="panel-body">

				<div id="usageData">

					<table class="table table-striped">
						<thead>
							<tr>
								<th>AMINO ACID</th>
								<th>CODON</th>
								<th>AMOUNT</th>
								<th>/1000</th>
								<th>% PER AA</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="entry: ${table}">
								<td th:text="${entry.value.aminoacid}"></td>
								<td th:text="${entry.key}"></td>
								<td th:text="${entry.value.codonNumber}"></td>
								<td th:text="${#numbers.formatDecimal(entry.value.frequency, 1, 3)}"></td>
								<td th:inline="text">[[${#numbers.formatDecimal(entry.value.aminoacidUsage, 1, 2)}]]%</td>
							</tr>
						</tbody>
					</table>

				</div>

			</div>
		</div>

	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>