<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title th:inline="text">[[#{app.name}]] :: Dashboard</title>

<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen"
/>

<link rel="stylesheet" th:href="@{/css/application.css}" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.3/jquery.min.js" th:src="@{/webjars/jquery/2.1.3/jquery.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

<link rel="icon" th:href="@{/images/oops.ico}" />

</head>

<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<h1 align="center" th:inline="text">Prioritisation Dashboard</h1>
		<div class="panel panel-default">
			<div class="panel-body">

				<div id="parameters" class="div-ctr div-border">
					<span>Select the parameter weight based on your desired output interests:</span>
					<br />
					<br />

					<form class="form-inline">
						<div class="form-group div-ctr">
							<label for="numberOfGenes">Number of Genes</label>
							<input type="range" value="10" min="0" max="10" step="1" id="numberOfGenes" onInput="updateRangeValue(this, 'nogValue')" />
							<output id="nogValue">10</output>
							<br />
							<label>
								<input type="checkbox" id="ignoreNOG" onClick="toggleRangeDisabling('numberOfGenes', 'nogValue');" />
								Ignore
							</label>
						</div>

						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

						<div class="form-group div-ctr">
							<label for="gcContent">G/C Content</label>
							<input type="range" value="10" min="0" max="10" step="1" id="gcContent" onInput="updateRangeValue(this, 'gccValue')" />
							<output id="gccValue">10</output>
							<br />
							<label>
								<input type="checkbox" id="ignoreGCC" onClick="toggleRangeDisabling('gcContent', 'gccValue');" />
								Ignore
							</label>
						</div>

						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

						<div class="form-group div-ctr">
							<label for="codonBias">Codon Bias</label>
							<input type="range" value="10" min="0" max="10" step="1" id="codonBias" onInput="updateRangeValue(this, 'cbValue')" />
							<output id="cbValue">10</output>
							<br />
							<label>
								<input type="checkbox" id="ignoreCB" onClick="toggleRangeDisabling('codonBias', 'cbValue');" />
								Ignore
							</label>
						</div>

						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

						<div class="form-group div-left">
							<label for="speciesName">Search&nbsp;</label>
							<input class="form-control input-sm" type="text" size="42" id="speciesName" placeholder="Species scientific name..." />
							&nbsp;
							<a href="#">
								<span class="glyphicon glyphicon-search"></span>
							</a>
							<br />
							<br />
							<label for="selectSpecies">Select&nbsp;&nbsp;</label>
							<select class="form-control input-sm" id="selectSpecies">
								<option>-- Select species --</option>
								<option>mitochondrion Piaya melanogaster</option>
								<option>mitochondrion Limia melanogaster</option>
								<option>Limia melanogaster</option>
								<option>Wolbachia endosymbiont of Drosophila melanogaster</option>
								<option>mitochondrion Thamnophis melanogaster</option>
								<option>mitochondrion Drosophila melanogaster</option>
								<option>Drosophila melanogaster</option>
							</select>
						</div>

						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<button type="button" class="btn btn-primary btn-lg" onclick="prioritise()">GO</button>
					</form>

				</div>

				<br />

				<div id="outputData">

					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>CLUSTER</th>
								<th>NUMBER OF GENES</th>
								<th>G / C CONTENT</th>
								<th>CODON USAGE</th>
								<th>SEQUENCE LENGTH</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cluster, iterStat : ${clusterData}">
								<th th:text="${iterStat.count}"></th>
								<td th:inline="text">
									<a th:href="@{|/local/index.html#cluster-${cluster.clusterNumber}|}" target="_blank">[[${cluster.recordName}]] -
										Cluster [[${cluster.clusterNumber}]]</a>
								</td>
								<td th:text="${cluster.numberOfGenes}"></td>
								<td th:text="${#numbers.formatDecimal(cluster.gcContent, 1, 4)}"></td>
								<td>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<a th:href="@{|/codonTable/${cluster.clusterNumber}|}" target="_blank">Open</a>
								</td>
								<td th:text="${cluster.basePairs}"></td>
							</tr>
						</tbody>
					</table>

				</div>

			</div>
		</div>

	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>